<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Welcome to Student Form Submission</h1>
    <!-- If logged in, show Go to Form -->
    <button type="button" routerLink="/form" class="btn" *ngIf="auth.isLoggedIn()">
      Go to Form
    </button>

    <!-- If NOT logged in, show Login -->
    <button type="button" class="btn" (click)="auth.login()" *ngIf="!auth.isLoggedIn()">
      Login to continue
    </button>
    <div class="auth-buttons">
      <!-- Optional logout when logged in -->
      <button type="button" class="authbtn" (click)="auth.logout()" *ngIf="auth.isLoggedIn()">
        Logout
      </button>
    </div>
  </div>
</section>

<section class="records" *ngIf="auth.isLoggedIn()">
  <h2 class="records-title">Recent Submissions</h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Student ID</th>
          <th>Email</th>
          <th>Course Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.studentId }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.courseName }}</td>
          <td class="actions">
            <button class="actionbtn" [routerLink]="['/form', student.id]">Edit</button>
            <button class="actionbtn" (click)="deleteStudent(student.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="students.length == 0" class="no-records">No records found</p>
  </div>
</section>
